<html>
    <head th:replace="fragments/headTag :: headTag">

    </head>
    <body>

        <div class="container">
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>

            <h2>Code Value</h2>


            <form th:object="${codeValue}" action="notused.html" th:action="@{/codes/codeValueEditSubmit.html}" method="get" class="form-horizontal">

                <fieldset>
                    <table class="table table-striped">
                        <input type="hidden" name="codeTypeId" th:value="${codeValue.codeTypeId}"/>
                        <input type="hidden" name="codeValueSequence" th:value="${codeValue.codeValueSequence}"/>
                        <tr>
                            <th>Description</th>
                            <td><input type="text" name="englishDescription" th:value="${codeValue.englishDescription}"/> 
                                <ul th:if="${#fields.hasErrors('englishDescription')}">
                                    <li class="error" th:each="err : ${#fields.errors('englishDescription')}" th:text="${err}">Input is incorrect</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <th>Short Description</th>
                            <td><input type="text" name="englishDescriptionShort" th:value="${codeValue.englishDescriptionShort}"/>
                                <ul th:if="${#fields.hasErrors('englishDescriptionShort')}">
                                    <li class="error" th:each="err : ${#fields.errors('englishDescriptionShort')}" th:text="${err}">Input is incorrect</li>
                                </ul>


                            </td>
                        </tr>
                    </table>
                    <div style="text-align: left;" class="form-actions">
                        <button class="btn btn-primary btn-lg" type="submit">Enter</button>
                    </div>

                    <div>Tests for binding collections from objects in Spring provided below.  See how these are picked up in the 
                    CodeController class when the form is submitted</div>

                    <div th:each="theInt,stat : ${codeValue.testInt}">
                        <input type="text" th:field="${codeValue.testInt[__${stat.index}__]}" th:value="${theInt}"/>
                    </div>

                    <div th:each="theTestElement,stat : ${codeValue.testIntArrayList}">
                        <input type="text" th:field="${codeValue.testIntArrayList[__${stat.index}__]}" th:value="${theTestElement}"/>
                    </div>

                </fieldset>
            </form>

            <div th:include="fragments/footer" th:remove="tag">
            </div>
        </div>
    </body>

</html>
