<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/headTag :: headTag"><title>Canes</title>
    </head>
    <body>

        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>

        <div class="container" >            
            <!-- Header -->
            <div class="container" >
                <div class="intro-text form-horizontal" >
                    <form  th:object="${person}" action="sayHello (Not used)" th:action="@{/sayhello}" method="get">
                        Hello World Application<br/>
                        <label>Name:</label><input type="text" th:field="${person.name}" maxlength="100"/><br/>
                        <label>Address:</label><input type="text" th:field="${person.address}" maxlength="100"/><br/>
                        <label>Email:</label><input type="text" th:field="${person.email}"/><br/>
                        <label>Course:</label><br/>
                        <select th:field="${person.courseSelected}">
                            <option th:each="theCourse : ${session.courses}" th:text="${theCourse}" th:value="${theCourse}">types here</option>
                        </select>
                        <input type="submit" value="Say Hello"/>
                    </form>
                </div>
            </div>
            <div>
                <div th:include="fragments/footer" th:remove="tag">
                </div>
            </div>
        </div>
    </body>
</html>